.git
.gitignore
.DS_Store
.env
.env.*
target
**/node_modules
browser-extensions
config
private-data
dist
sheet_data.csv
sheet_data.json
*.dump
*.backup
*.sqlite
*.sqlite3
*.db
*.pem
*.key
*.p12
*.pfx
*.jks
*.zip
*.log
Dockerfile
docs
configs
a-config-example.json
rust_project_structure_constraints.md
